
textarea {
  font-family: "Arial";
  resize: none
}

html {
    font-family: "Arial";
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.window {
  box-sizing: border-box;
  margin: 0;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #c0c0c0;
  border: 1px solid;
  border-top-color: #dfdfdf;
  border-left-color: #dfdfdf;
  border-right-color: #000;
  border-bottom-color: #000;
}

.inner-window {
  box-sizing: border-box;
  border: 1px solid;
  height: 100%;
  border-top-color: #fff;
  border-left-color: #fff;
  border-right-color: #808080;
  border-bottom-color: #808080;
}

.title-icon {
  width: 16px;
  height: 16px;
  float: left;
  margin-right: 5px;
}

.title-bar {
  font-family: 'Arial', sans-serif;
  margin: 2px 2px 0;
  padding: 1px 2px;
  color: #fff;
  background: linear-gradient(to right, #000080, #1084d0);
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  -webkit-user-select: none;
  user-select: none;
  -webkit-app-region: drag;
}

.title-btn {
  -webkit-app-region: no-drag;
  /* border: 1px solid blue; */
  color: black;
  margin: 1px;
  width: 52px;
  height: 14px;
  float: right;
}

.title-btn > input {
  height: 14px;
  width: 16px;
  padding: 0;
  margin-left: 1px;
}
/* 
#btn-close {
  margin-left: 2px;
} */

.chat-container {
  margin: 8px 8px 4px;
}

.text-out {
  font-family: "Arial";
  white-space: pre-wrap;
  word-wrap: break-word;
  background: white;
  border: 1px solid;
  height: calc(100vh - 250px);
  border-top-color: #808080;
  border-left-color: #808080;
  border-bottom-color: #fff;
  border-right-color: #fff;
  font-size: 14px;
}

.inner-text-out {
  height: calc(100vh - 262px);
  background: #fff;
  border: 1px solid;
  border-top-color: #000;
  border-left-color: #000;
  border-bottom-color: #dfdfdf;
  border-right-color: #dfdfdf;
  padding: 5px;
  overflow-y: scroll;  
}

.outer-text-in {
  height: 85px;
  background: white;
  margin: 2px 2px 2px 2px;
  border: 1px solid;
  border-top-color: #808080;
  border-left-color: #808080;
  border-bottom-color: #fff;
  border-right-color: #fff;
  font-size: 14px;
}

.text-in {
  box-sizing: border-box;
  -moz-box-sizing: border-box;                     
  -webkit-box-sizing: border-box;      
  height: 85px;
  border: 1px solid;
  border-top-color: #000;
  border-left-color: #000;
  border-bottom-color: #dfdfdf;
  border-right-color: #dfdfdf;
  /* width: calc(100vw - 10px); */
  width: 100%;
  text-align: left;
}

.screen-name {
  color: red;
  font: 16px helvetica;
}

.other-screen-name {
  color: #0000ff;
  font: 16px helvetica;
}

.ts {
  font: 14px consolas;
}

audio {
  display: none;
}

.menu-bar {
  margin: 2px 2px 0px 2px;
  border-bottom: 1px solid;
  border-bottom-color: #808080;
}

.menu-bar-border {
  border-top: 1px solid;
  border-top-color: #dfdfdf;
}

.menu-bar > button {
  border: none;
  background-color: transparent
}

.menu-bar > button::first-letter {
  text-decoration: underline;
}

.online {
  position: relative;
  left: 1px;
  border-radius: 5px 5px 0px 0px;
  margin-top: -3px;
  float: left;
  border: 1px solid;
  border-bottom: none;
  border-top-color: #dfdfdf;
  border-left-color: #dfdfdf;
  border-right-color: #000;
  background-color: transparent;
  z-index: 3;
}

#online {
  z-index: 3;
  font-weight: bold;
  border-radius: 5px 5px 0px 0px;
  padding-bottom: 11px;
  position: relative;
  top: -1px;
  border: 1px solid;
  border-bottom: none;
  background-color: #c0c0c0;
  border-top-color: #fff;
  border-left-color: #fff;
  border-right-color: #808080;
}

.list-setup {
  border-radius: 5px 5px 0px 0px;
  /* padding-bottom: 9px; */
  margin: 0;
  float: left;
  border: 1px solid;
  border-bottom: none;
  border-top-color: #dfdfdf;
  border-left-color: #dfdfdf;
  border-right-color: #000;
  background-color: transparent;
}

#list-setup {
  z-index: 1;
  border-radius: 5px 5px 0px 0px;
  padding-right: 5px;
  padding-bottom: 9px;
  position: relative;
  top: -1px;
  border: 1px solid;
  border-bottom: none;
  background-color: #c0c0c0;
  border-top-color: #fff;
  border-left-color: #fff;
  border-right-color: #808080;
}

.buddy-list-logo {
  margin: 0px 2px 2px 2px;  
  padding-bottom: 5px;
}

.buddy-list-logo > img {
  height: 50px;
  width: 100px;
  display: block;
  margin: 0 auto;
  padding-top: 2px;
  padding-bottom: 5px;
}

.buddy-window {
  /* box-sizing: border-box;   */
  padding: 0px;
  margin-top: -3px;
  margin-right: 10px;
  z-index: 2;
  position: relative;
  left: 1px;
  top: 22px;
  height: calc(100vh - 135px);
  border-radius: 5px 5px 0px 0px;
  border: 1px solid;
  border-top-color: #dfdfdf;
  border-left-color: #dfdfdf;
  border-right-color: #000;
  border-bottom-color: #000;  
  background-color: #c0c0c0;
}

.inner-buddy-window {
  height: 100%;
  z-index: 2;
  box-sizing: border-box;
  border: 1px solid;
  border-top-color: #fff;
  border-left-color: #fff;
  border-right-color: #808080;
  border-bottom-color: #808080;
}

.buddy-list {
  height: calc(100vh - 148px);
  background: white;
  margin: 4px 4px 4px 4px;
  border: 1px solid;
  border-top-color: #808080;
  border-left-color: #808080;
  border-bottom-color: #fff;
  border-right-color: #fff;
  font-size: 14px;
  /* padding-right: 1px; */
}

.inner-buddy-list {
  position: relative;
  top: -21px;
  left: 0px;
  width: 100%;
  height: inherit;
  box-sizing: border-box;  
  margin-right: 0px;
  /* width: 100%;
  height: calc(100vh - 178px); */
  background: #fff;
  border: 1px solid;
  border-top-color: #000;
  border-left-color: #000;
  border-bottom-color: #dfdfdf;
  border-right-color: #dfdfdf;
  /* padding: 5px; */
  overflow-y: auto;
}

details {
  font-size: 16px;
  font-family: sans-serif;
  padding: 5px;
}

summary {
  font-weight: bold;
}

.buddy {
  font-weight: normal;
}

details > a {
  padding-left: 25px;
}

.buddy > img {
  display: inline-block;
  position: relative;
  right: 5px;
  visibility: hidden;
}

.opendoor {
  position: relative;
  left: 10px;
}

.offline {
  color: gray;
}

.offline > summary {
  font-weight: lighter;
}

.inner-border {
  border: 1px solid;
  border-top-color: #dfdfdf;
  border-left-color: #dfdfdf;
  border-right-color: #dfdfdf;
  border-bottom-color: #dfdfdf;
  background-color: #c0c0c0;
}

.outer-border {
  border: 1px solid;
  border-top-color: #808080;
  border-left-color: #808080;
  border-right-color: #808080;
  border-bottom-color: #808080;
}

#text-options-container {
   margin-top: 5px;
   margin-bottom: 5px;
}

.options {
  margin-left: 5px;
  margin-right: 5px;
}

.text-options {
  text-align: center;
}

.text-options > span {
  display: inline;
  border-left: 1px solid;
  border-right: 1px solid;
  border-left-color: #dfdfdf;
  border-right-color: #808080;
}

.color-picker {
  border-left: none !important;
}

.insert {
  border-right: none !important;
}

#chat-buttons-container {
  margin-top: 5px;
  margin-bottom: 5px;
}

.chat-buttons {
  height: 100%;
}

.chat-button {
  margin-left: 5px;
  margin-right: 5px;
}

.chat-buttons > div {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  border-left: 1px solid;
  border-right: 1px solid;
  border-left-color: #dfdfdf;
  border-right-color: #808080;
  padding-top: 14px;
}

.chat-button {
  padding-bottom: 5px;
}

.warn-block {
  border-left: none !important;
  float: left;
}

.buddy-actions {
 padding-right: calc(100vw - 318px);
}

.send-button {
  border-right: none !important; 
  padding-top: 0 !important;
  float: right;
  text-align: right;
}

.send-button > input {
  position: relative;
  top: 5px;
}

.login-container {
  margin: 10px;

}

.login-logo {
  height: auto;
  width: calc(100vw - 22px);
  margin-bottom: 5px;
}

.upper-rule-border {
  width: 100%;
  background-color: #808080;
}

.lower-rule-border {
  width: 100%;
  background-color: #dfdfdf;
}

.login-form {
  margin-top: 5px;
}

label {
  white-space: pre;
}

.username-container {
  display: flex;
}

.username-item {
  flex-grow: 1;
}

#username-border {
  border: 1px solid;
  border-top-color: #808080;
  border-left-color: #808080;
  border-bottom-color: #fff;
  border-right-color: #fff;
}

#username {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid;
  border-top-color: #000;
  border-left-color: #000;
  border-bottom-color: #dfdfdf;
  border-right-color: #dfdfdf;
}

#password-border {
  border: 1px solid;
  border-top-color: #808080;
  border-left-color: #808080;
  border-bottom-color: #fff;
  border-right-color: #fff;
}

#password {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid;
  border-top-color: #000;
  border-left-color: #000;
  border-bottom-color: #dfdfdf;
  border-right-color: #dfdfdf;
}

.password-container {
  margin-top: 10px;
  display: flex;
  margin-bottom: 5px;
}

.password-item {
  flex-grow: 1;
}

.left-block {
  float: left;
}

.left-buttons > input {
  margin-top: 10px;
  width: 50%;
}

#setup {
  position: relative;
  top: 2px;
}

#sign-on {
  position: relative;
  top: 1px;
}

.right-block {
  float: right;
}

.right-buttons > input {
  width: 100%;
}

.version {
  position: fixed;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

.splash {
  -webkit-app-region: drag;
  position: absolute;
  left: 0;
  top: 0;
}
